@font-face {
  font-family: "Roboto Bold";
  src: url(./fonts/Roboto-Medium.ttf);
}

:root {
  --night-container-background: rgba(47, 18, 77, 0.3);
  --sunny-container-background: rgba(14, 67, 136, 0.3);
  --fog-container-background: rgba(115, 92, 146, 0.3);
  --overcast-rain-container-background: rgba(95, 98, 102, 0.3);
  --snow-lightening-container-background: rgba(64, 66, 68, 0.3);
  --primary-content-font-color: white;
  --secondary-content-font-color: #847988;
  --secondary-content-night-font-color: #9aa0a6;
  --secondary-content-sunny-font-color: #96c0ea;
  --secondary-content-overcast-font-color: #4a4c4e;
  --secondary-content-fog-font-color: #847988;
  --secondary-content-rain-font-color: #9aa0a6;
  --secondary-content-snow-font-color: #000000;
  --secondary-content-lightening-font-color: #9aa0a6;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto Bold";
  color: var(--primary-content-font-color);
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  width: 695px;
  min-width: 300px;
  margin: 0 40px;
  border-radius: 20px;
  background-color: rgba(2, 0, 8, 0.3);
  padding: 20px;
}

input {
  border-radius: 20px;
  height: 35px;
  font-size: 1rem;
  padding: 5px 14px;
}

#location {
  display: flex;
  justify-content: flex-start;
  height: 33px;
  padding: 12px 20px 16px 0;
  font-size: 2rem;
}

#weather-today {
  display: flex;
  justify-content: flex-start;
  height: 100px;
  padding: 20px 0;
  /* width: 695px;
  min-width: 695px; 430px */
  overflow: scroll;
}

.temperature-today {
  font-size: 4rem;
}

.block-1,
.block-2,
.block-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block-1 {
  width: 65px;
  /* height: 75px; */
}

.block-1 > img {
  width: 80px;
  overflow: hidden;
}

.block-2 {
  padding-left: 10px;
}

.block-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
  min-width: 146.4px;
  color: var(--secondary-content-font-color);
  white-space: nowrap;
}

.block-4-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  min-width: 402.914px;
}

.block-4 {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  padding: 0 50px;
}

.block-4 > div:first-child {
  font-size: 1.5rem;
}

.day-and-time-today,
.condition-today {
  color: var(--secondary-content-font-color);
}

#weather-forecast-trihoral {
  display: flex;
  /* justify-content: center; */
  height: 60px;
  padding: 20px 0;
  overflow: scroll;
}

.time-increment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 86.875px;
  min-width: 86.875px; /* The fact that flex-shrink wasn't working is an issue. The fix I did is just a band-aid */
  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto; */
}

.time-increment > .temperature {
  font-size: 1.5rem;
}

.time {
  color: var(--secondary-content-font-color);
}

#weather-forecast-day {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  overflow: scroll;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 7px;
}

.day > .icon > img {
  width: 80px; /* 80px */
}

.temperature-day {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.temperature-day > div:last-child {
  color: var(--secondary-content-font-color);
}
